<html>
<head>
    <title>Motion Cam</title>
    <style>
        td{font-size: 40pt; text-align:center}


    </style>
</head>
<body>
<h1>Motion Cam</h1>


<table align="center" border="1">
    <tr>
        <td colspan="3">
            <img src="{{ url_for('video_feed') }}" height="600" width="800"></td>
    </tr>
    <tr>
        <td></td>
        <td onclick="javascript:location.href='go'">Go</td>
        <td></td>
    </tr>
    <tr>
        <td onclick="javascript:location.href='turn_l'">Left</td>
        <td></td>
        <td onclick="javascript:location.href='turn_r'">Right</td>
    </tr>
    <tr>
        <td></td>
        <td onclick="javascript:location.href='back'">Back</td>
        <td></td>
    </tr>

</table>

</body>
</html>
